
/* For Desktop View */
@media screen and (min-width: 1024px) {
    .ContainerBox{
        height: fit-content;
    }
    .ContainerBoxItem{
        height: fit-content;
    }
    
    .ImgBox{
        width: 1263px;
        height: 675px;
        border-radius: 15px;
    }
}
